* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}

body {
  align-content: center;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: Helvetica, Arial;
  text-align: center;
}

.arrow-key-container {
  display: inline-block;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.arrow-key {
  align-items: center;
  background: #ccc;
  border-radius: 6px;
  box-shadow: -1px 1px 0 #999, -2px 2px 0 #999, -3px 3px 0 #999, -4px 4px 0 #999;
  color: #fff;
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  justify-content: center;
  margin: 5px;
  transform: translate3d(0, 0, 0);
  transition: box-shadow .1s linear, transform .1s linear;
  width: 75px;
}
.arrow-key:active, .arrow-key.press {
  box-shadow: 0px 0px 0 #999, 0px 0px 0 #999, 0px 0px 0 #999, -1px 1px 0 #999;
  transform: translate3d(-3px, 3px, 0);
}
.arrow-key.left:before {
  content: "\2190";
}
.arrow-key.up:before {
  content: "\2191";
}
.arrow-key.down:before {
  content: "\2193";
}
.arrow-key.right:before {
  content: "\2192";
}
