@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	background: #7fc5c9;
	font-family: 'Ubuntu', sans-serif; 
	text-align: center;
}
.score {
	font-size: 2em;
	position: relative;
	color: #fff;
}
canvas {
  border: 2px solid rgb(151, 149, 149);
}

